@model Noticias.Models.NoticiasViewModels.NoticiaViewModel

@{
    ViewData["Title"] = "Adicionar Noticias";
}

<h2>@ViewData["Title"]</h2>

<h4>Informe os dados da Noticia</h4>
<hr />

<form asp-action="Create" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" placeholder="Informe o título da notícia" style="max-width:100%" />
            <span asp-validation-for="Titulo" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <label asp-for="Corpo" class="control-label"></label>
            <textarea asp-for="Corpo" class="form-control"></textarea>
            <span asp-validation-for="Corpo" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="DataPublicacao" class="control-label"></label>
            <input asp-for="DataPublicacao" class="form-control" placeholder="Informe a data de publicação da notícia" />
            <span asp-validation-for="DataPublicacao" class="text-danger" />
        </div>
        <div class="col-md-6">
            <label asp-for="Autor" class="control-label"></label>
            <input asp-for="Autor" class="form-control" />
            <span asp-validation-for="Autor" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="CategoriaId" class="control-label"></label>
            <select asp-for="CategoriaId" class="form-control" asp-items="@Model.Categorias">
                <option value="" disabled selected>Selecione a Categoria da Notícia</option>
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger" />
        </div>
        <br/>
        <div class="col-md-6">
            <input asp-for="Destaque" /> Destaque
            <span asp-validation-for="Destaque" class="text-danger" />
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Adicionar" class="btn btn-info" />
        </div>
        <div class="col-md-10">
            <p class="text-right"><a asp-action="Index">Voltar a lista de Notícias</a></p>
        </div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    CKEDITOR.replace('Corpo', {
        height: 260
    });
</script>