@model Noticias.Models.Municipio

@{
    ViewData["Title"] = "Editar Categoria";
}

<h2>@ViewData["Title"]</h2>

<h4>Informe os dados do Município</h4>
<hr />

<form asp-action="Edit" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Nome" class="col-md-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Uf" class="col-md-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="Uf" class="form-control" />
            <span asp-validation-for="Uf" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-info" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar a lista de Municípios</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}